@import "./partials/sidebar.css";
@import "filepicker.css";
body {
    margin-top: 50px;
}

.form-container {
    width: 400px;
    margin: 140px auto;
}

.form-error {
    color: #ff0039;
    margin-top: 3px;
}