.main-sidebar, .main-content {
    padding: 0;
}

.main-sidebar .header {
    margin-top: 20px;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    color: #95a096;
}

.main-sidebar .nav-pills > li {
    margin-top: 0;
}

.main-sidebar .nav-pills .fa {
    width: 25px;
}

.main-content {
    padding-left: 50px;
}

.main-content .page-header {
    margin: 38px 0 30px;
}